build/*
.vscode/settings.json
resultados.csv
data/exp-0
data/exp-1
data/exp-2
data/exp-3
data/exp-4
data/exp-5
data/exp-6
data/exp-7
data/exp-8
data/exp-9
data/exp-10
data/exp-11
data/exp-12
data/exp-13
data/exp-14
data/exp-15
data/exp-16
data/exp-17
data/exp-18
data/exp-19
data/exp-20
data/exp-21
data/exp-22
data/exp-23
data/exp-24
data/exp-25
data/exp-26
data/exp-27
data/exp-28
data/exp-29
data/exp-30
data/exp-31
data/exp-32
data/exp-33
data/exp-34
data/exp-35
data/exp-36
data/exp-37
data/exp-38
data/exp-39
data/exp-40
data/exp-41
data/exp-42
data/exp-43
data/exp-44
data/exp-45
data/exp-46
data/exp-47
data/exp-48
data/exp-49
data/exp-50
data/exp-51
data/exp-52
data/exp-53
data/exp-54
data/exp-55
data/exp-56
data/exp-57
data/exp-58
data/exp-59
data/exp-60
data/exp-61
data/exp-62
data/exp-63
data/exp-64
data/exp-65
data/exp-66
data/exp-67
data/exp-68
data/exp-69
data/exp-70
data/exp-71
data/exp-72
data/exp-73
data/exp-74
data/exp-75
data/exp-76
data/exp-77
data/exp-78
data/exp-79
data/exp-80
data/exp-81
data/exp-82
data/exp-83
data/exp-84
data/exp-85
data/exp-86
data/exp-87
data/exp-88
data/exp-89
data/exp-90
data/exp-91
data/exp-92
data/exp-93
data/exp-94
data/exp-95
data/exp-96
data/exp-97
data/exp-98
data/exp-99
data/exp-100
data/exp-101
data/exp-102
data/exp-103
data/exp-104
data/exp-105
data/exp-106
data/exp-107
data/exp-108
data/exp-109
data/exp-110
data/exp-111
data/exp-112
data/exp-113
data/exp-114
data/exp-115
data/exp-116
data/exp-117
data/exp-118
data/exp-119
data/exp-120
data/exp-121
data/exp-122
data/exp-123
data/exp-124
data/exp-125
data/exp-126
data/exp-127
data/exp-128
data/exp-129
data/exp-130
data/exp-131
data/exp-132
data/exp-133
data/exp-134
data/exp-135
data/exp-136
data/exp-137
data/exp-138
data/exp-139
data/exp-140
data/exp-141
data/exp-142
data/exp-143
data/exp-144
data/exp-145
data/exp-146
data/exp-147
data/exp-148
data/exp-149
data/exp-150
data/exp-151
data/exp-152
data/exp-153
data/exp-154
data/exp-155
data/exp-156
data/exp-157
data/exp-158
data/exp-159
data/exp-160
data/exp-161
data/exp-162
data/exp-163
data/exp-164
data/exp-165
data/exp-166
data/exp-167
data/exp-168
data/exp-169
data/exp-170
data/exp-171
data/exp-172
data/exp-173
data/exp-174
data/exp-175
data/exp-176
data/exp-177
data/exp-178
data/exp-179
data/exp-180
data/exp-181
data/exp-182
data/exp-183
data/exp-184
data/exp-185
data/exp-186
data/exp-187
data/exp-188
data/exp-189
data/exp-190
data/exp-191
data/exp-192
data/exp-193
data/exp-194
data/exp-195
data/exp-196
data/exp-197
data/exp-198
data/exp-199
